<!DOCTYPE html>
<html lang="en">
  <head>
    {% include default-header.html %}
  </head>
  <body class="{% if page.slug %}page-{{ page.slug }} {% endif %}{% if page.accent %}accent-{{ page.accent }} {% endif %}">
    <span id="top"></span>
    {{ content }}
    <script>
      if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
      navigator.serviceWorker.register('/PWA/service-worker.js').then(function(registration) {
      // Registration was successful
      console.log('Registered!');
      }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
      }).catch(function(err) {
      console.log(err);
      });
      });
      } else {
      console.log('service worker is not supported');
      }
    </script>
  </body>
</html>
